@charset "UTF-8";

:root{
--cor01: #B8322D;
--cor02: #8B3C3A;
--cor03: #e118114f;
--cor04: #E11711;

}



*{
    margin:0px;
    padding: 0px;
}

body{
    background-color: rgba(0, 0, 0, 0.904);
    
}


header{
text-align: center;
color: rgb(255, 255, 255);
background-image: linear-gradient(to bottom, var(--cor04), var(--cor03) );
min-height: 150px;
padding-top: 40px;

}

header > h1{

margin-bottom: 20px;
font-size: 2em;
font-weight: normal;
margin-bottom: 20px;




}

header > p{
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 630px;
    margin: auto;
    padding-top: 15px;
    
   
    
   
 
}

nav{
    background-color: var(--cor03);
    
    padding: 10px;
}

nav > a{
    text-decoration: none;
    color: rgb(236, 198, 198);
    padding: 10px ;
    border-radius: 4px;
    transition-duration: 0.5s;
    font-weight: bold;
}

nav > a:hover{
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.11);
    color: var(--cor02);
   
}

main{
    background-color: rgb(255, 255, 255);
    color: black;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;
}

main strong{
    color: #a11715;
    text-decoration: underline;
}

main h1{
    color: #640200f1;
    margin-bottom: 5px;
    font-size: 2em;
}

main p{
    font-size: 1.1em;
    font-weight: bold;
    text-align: justify;
    text-indent: 10px;
}

main h2{
    margin-top: 5px;
  color:#640200f1 ;
    margin-bottom: 5px;
    font-size: 1.9em;
}

main img{
    width: 100%;
}

main p#mundial{
    padding-bottom: 10px;
}

div.video{
    background-color: rgb(150, 1, 1);
    margin: 0px -20px 30px -20px ;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: #b64b47;
    border-radius: 5px;
    margin-left: -15px;
    margin-right: -15px;
    

}

h3{
    font-size: 1.4em;
}

aside > p{
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    font-weight: normal;
    font-size: 1.1em;
}

aside > h3{
padding: 10px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background-color: #640200f1;
color: white;


}


aside > ul{
list-style-position: inside;
padding: 5px;
columns: 2 ; 
list-style-type: '\1F3C6\00A0';

}

strong#lista{
    text-decoration: none;
    font-weight: 1.2em;
    color: black;
}

 p#sp{
    padding-top: 5px;
}

footer{
    background-color: #e11811c2;
    color: white;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: 0.8em;

}

footer a:hover{
    color: #ff5953;
    text-decoration: underline;
}