@charset "UTF-8";

@media screen and (max-width:768px) {

    :root{
        --cor01: #B8322D;
        --cor02: #8B3C3A;
        --cor03: #e118114f;
        --cor04: #E11711;
        
        }
        
        
        
        
        *{
            margin:0px;
            padding: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        
        
        body{
            background-color: rgba(0, 0, 0, 0.904);
            
            
        }

        


        
        
        
        
        header{
        text-align: center;
        color: rgb(255, 255, 255);
        background-image: linear-gradient(to bottom, var(--cor04), var(--cor03) );
        min-height: 150px;
        padding-top: 40px;
        
        }
        
        header > h1{
        
        padding-top: 10px;
        margin-bottom: 20px;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 5px;
        color: black;
        
        
        
        
        
        }
        
        header > p{
            font-size: 1.2em;
            padding-left: 10px;
            padding-right: 10px;
            max-width: 630px;
            margin: auto;
            padding-top: 15px;
            padding-bottom: 50px;
            color: black;
            
        }
        
        span#menu{
            color: #ffc6c5;
            padding-left: 5px;
            padding-right: 10px;
            cursor: pointer;
           
        }
        
        nav{
            background-color: rgb(27, 27, 27);
            
            padding: 10px;
        
        }
        
        nav > a{
            text-decoration: none;
            color: rgb(236, 198, 198);
            padding: 10px ;
            border-radius: 4px;
            transition-duration: 0.5s;
            font-weight: bold;
        }
        
        nav > a:hover{
            text-decoration: underline;
            background-color: rgba(0, 0, 0, 0.11);
            color: var(--cor02);
           
        }

        .menu_pag{
            display: none;
        }

        .menu_block{
            display: block;
        }
        
        main{
            background-color: rgb(255, 255, 255);
            color: black;
            min-width: 300px;
            max-width: 1000px;
            margin: auto;
            padding: 20px;
            border-bottom-left-radius: 5px ;
            border-bottom-right-radius: 5px ;
        }
        
        main strong{
            color: #a11715;
            text-decoration: underline;
        }
        
        main h1{
            color: #640200f1;
            margin-bottom: 5px;
            font-size: 2em;
        }
        
        main p{
            font-size: 1.1em;
            font-weight: bold;
            text-align: justify;
            text-indent: 10px;
        }
        
        main h2{
            margin-top: 5px;
          color:#640200f1 ;
            margin-bottom: 5px;
            font-size: 1.9em;
        }
        
        main img{
            width: 100%;
        }
        
        main p#mundial{
            padding-bottom: 10px;
        }
        
        div.video{
            background-color: rgb(150, 1, 1);
            margin: 0px -20px 30px -20px ;
            padding: 20px;
            padding-bottom: 58%;
            position: relative;
        }
        
        div.video > iframe{
            position: absolute;
            top: 5%;
            left: 5%;
            width: 90%;
            height: 90%;
        }
        
        aside{
            background-color: #b64b47;
            border-radius: 5px;
            margin-left: -15px;
            margin-right: -15px;
            
        
        }
        
        h3{
            font-size: 1.4em;
        }
        
        aside > p{
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 6px;
            font-weight: normal;
            font-size: 1.1em;
        }
        
        aside > h3{
        padding: 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #640200f1;
        color: white;
        
        
        }
        
        
        aside > ul{
        list-style-position: inside;
        padding: 5px;
        columns: 2 ; 
        list-style-type: '\1F3C6\00A0';
        
        }
        
        strong#lista{
            text-decoration: none;
            font-weight: 1.2em;
            color: black;
        }
        
         p#sp{
            padding-top: 10px;
            text-align: center;
        }
        
         h1#hino{
            padding-bottom: 1px;
            padding-top: 15px;
            
        }
        
        section{
            line-height: 1.8em;
            background-image: url(WhatsApp\ Image\ 2024-07-02\ at\ 21.22.49.jpeg);
            background-repeat: no-repeat;
            background-size: cover ;
            background-position: center right;
            background-attachment: fixed;
            margin-left: -20px;
            margin-right: -20px;
            
        }
        
        section > p{
            background-color: rgba(0, 0, 0, 0.089);
            display: inline-block;
            padding: 5px;
            color: white;
            
           
        }
        
        
        footer{
            background-color: #e11811c2;
            color: white;
            margin-top: 30px;
            padding: 5px;
            text-align: center;
        }
        
        footer a {
            color: white;
            font-weight: 0.8em;
        
        }
        
        footer a:hover{
            color: #ff5953;
            text-decoration: underline;
        }
        span{
            color: rgb(223, 222, 222);
            display: block;
            margin: auto;
        }


        #img_t1{
            height: 280px;
            border-radius: 10px;
            margin: 10px;
            border: 2px solid black;
        }

        #img_lib{
             height: 340px;
            border-radius: 10px;
            margin: 10px;
            border: 1px solid black;
           
        }


}

